<!DOCTYPE>
<html xmlns:th="htttp://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Home</title>
    </head>
    <body>
<!--         <h1>Hello World!</h1> -->
<!--         <p>This is the homepage!</p> -->
          <h1>Catalogo de tienda</h1>

<!-- peticion -->
        <a th:href="@{/contactos/inicio}">Catalogo</a>
        
    </body>
</html>
